In [3]:
# import the needed libraries and datasets
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.random(size=(5, 3)))
df

          0         1         2
0  0.446113  0.565564  0.983500
1  0.754862  0.493328  0.448125
2  0.999566  0.342656  0.890886
3  0.864406  0.522440  0.456561
4  0.913069  0.953524  0.334946

**23.** Given a DataFrame of numeric values, say
```python
df = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values
```

how do you subtract the row mean from each element in the row?

In [5]:
df_mean = df.mean(axis=1)
print(df.sub(df_mean, axis=0))

df.sub(df.mean(axis =1), axis=0)       #or in single line like this

          0         1         2
0 -0.218946 -0.099495  0.318441
1  0.189424 -0.072111 -0.117313
2  0.255196 -0.401713  0.146517
3  0.249937 -0.092029 -0.157908
4  0.179222  0.219678 -0.398900

**24.** Suppose you have DataFrame with 10 columns of real numbers, for example:

```python
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
```
Which column of numbers has the smallest sum? (Find that column's label.)

In [13]:
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
col_sum = df.sum(axis = 0)
print(col_sum)
print(min(col_sum))

a    3.262114
b    3.132727
c    1.972121
d    2.913844
e    2.044928
f    2.326093
g    2.480883
h    2.698406
i    1.977432
j    2.820833
dtype: float64
1.9721208120237153